@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Bebas+Neue&family=Roboto+Slab&display=swap");

body {
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
  margin: 2rem;
  text-align: center;
  font-size: 50px;
}
h1 {
  font-weight: bolder;
}
* {
  background-color: black;
  color: white;
}
ul {
  list-style: none;
  padding: 0;
  line-height: 4rem;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:hover {
  color: coral;
}
