@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  /* colors */
  --backgroundColor: orangered;
  --textColor: white;

  /* measuements */
  --sizeXs: 1.5rem;
  --sizeSm: calc(var(--sizeXs) * 1);
  --sizeMd: calc(var(--sizeSm) * 1.5);
  --sizeLg: calc(var(--sizeMd) * 1.5);
  --sizeXl: calc(var(--sizeLg) * 1.5);

  /* styles */
  --font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: none;
}

body {
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  padding: var(--sizeXs);
  background-image: linear-gradient(
    260deg,
    #ffcb43 0%,
    #ff6425 37%,
    #ff0016 100%
  );
  color: var(--textColor);
}

header {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: var(--sizeLg);
}

h2 {
  font-size: var(--sizeLg);
  color: var(--textColor);
  padding: var(--sizeXs);
}

ul {
  list-style: none;
  text-decoration: none;
}

p {
  font-size: var(--sizeXs);
  line-height: var(--sizemd);
  font-weight: var(--sizeXs);
}

section {
  padding: var(--sizeXs);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--textColor);
}

section img {
  max-width: 500px;
}

a:link a:visited a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: coral;
  background-color: #888888;
  border-radius: 0.2em;
}
